/*xxxxxxxxxxxxxxxxxxxxxxxxxxx #499349 #488a48 #299200*/
* {
margin:0;
padding:0;
margin-left:auto;
margin-right:auto;
}
body#pag_web {
background-color:#ffffff;
background-image: url(../imagem_arquivos/folha_fundo.jpg);
background-attachment: fixed;
text-align:center;
}
div#p_l1 {
clear:left;
float:left;
padding-left:0;
padding-right:0;
width:100%;
height:320px;
border-top:1px solid #555555;
border-left:1px solid #555555;
border-right:1px solid #555555;
background-color:#000000;
background: url(../imagem_arquivos/partes4.png) 0% 0% repeat-x;
}
hr.linha {
color:#33aacc;
width:750px;
text-align:center;
}
div#imagem img {
border:2px solid #000000;
width:750px;
}
div.mostrar3 {
font-family:Arial, Helvetica, sans-serif; 
font-size:12pt; 
color:#3333cc;
}
div.mostrar4 {
font-family:Arial, Helvetica, sans-serif; 
font-size:14pt; 
color:#000000;
}
div.mostrar5 {
font-family:Arial, Helvetica, sans-serif; 
font-size:16pt; 
color:#3300cc;
}
div.mostrar5a {
font-family:Arial, Helvetica, sans-serif; 
font-size:16pt; 
color:#ff0000;
}
div.mostrar6 {
font-family:Arial, Helvetica, sans-serif; 
font-size:24pt; 
color:#3300cc;
}
div.voltar a {
font-family:Arial, Helvetica, sans-serif; 
font-size:16pt; 
color:#0000ff;
}
div.voltar a:hover {
color:#ff0000;
}
div.formula1 {
clear:both;
margin-left:auto;
margin-right:auto;
width:750px; 
height:auto;
}
div.formula2 {
clear:left;
float:left;
padding-top:30px;
padding-bottom:30px;
width:100%; 
height:auto;
background-color:#499349;
border:2px solid #000000;
}
div.formula2a {
clear:left;
float:left;
width:100%; 
height:auto;
}
div.formula3 {
clear:left;
float:left;
padding-top:1%;
padding-right:5%;
width:30%;
text-align:right; 
font-weight:700;
}
div.formula4 {
float:left;
padding-top:1%;
width:65%; 
text-align:left; 
font-weight:700;
}
select.formula5 {
float:left;
width:40%; 
font-weight:700;
}
div.formula9 {
clear:left;
float:left;
width:100%; 
text-align:center; 
}
input.formula9 {
width:30%; 
margin-top:30px;
font-weight:700;
border:1px solid #000000;
background-color:#c5eec5;
}
input.formula9:hover {
width:30%; 
margin-top:30px;
font-weight:700;
border:1px solid #000000;
background-color:#000000;
color:#ffffff;
}
input.emailc {
font-family:Arial, Helvetica, sans-serif; 
font-size:12pt; 
border:1px solid #000000;
background-color:#c5eec5;
}
div.formula10 {
clear:left;
float:left;
width:100%; 
text-align:center; 
font-family:Arial, Helvetica, sans-serif; 
font-size:14pt; 
color:#ff0000;
}
table.hash_titu {
width:750px;
}
td.hash_titu {
text-align:center; 
font-size:14pt; 
font-weight:700;
background-color:#33cccc;
border-top:2pt solid black; 
border-bottom: 2pt solid black;
}
td.hash_total {
text-align:center; 
font-size:14pt; 
font-weight:700;
background-color:#777777;
border-bottom: 2pt solid black;
}
td.hash_par {
text-align:center; 
font-size:14pt; 
background-color:#cccccc;
border-bottom: 2pt solid black;
}
td.hash_impar {
text-align:center; 
font-size:14pt; 
background-color:#ccffcc; 
border-bottom:2pt solid black
}
div#menu_web {
clear:left;
float:left;
width:auto;
height:auto;
}
div#menu_web ul {
margin:0;
padding:0;
font-size:1em;
font-family:helvetica, arial, times;
}
div#menu_web ul li {
list-style:none;
display:inline;
}
div#menu_web ul li a {
float:left;
text-decoration: none;
text-align:center;
width:100px;
color:#0000ff;
}
div#menu_web ul li div {
float:left;
text-decoration: none;
text-align:center;
width:100px;
font-weight:700;
color:#000000;
}
div#menu_web ul li a:hover {
color:#ff0000;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxx */
div.p_espe1 {
clear:left;
float:left;
width:100%;
overflow:hidden;
position:relative;
}
div.p_espe2 {
clear:left;
float:left;
left:50%;
position:relative;
}
div.p_espe3 {
right:50%;
position:relative;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxx */
div.p_canto1 {
clear:left;
float:left;
width:100%;
height:auto;
background: url(../imagem_arquivos/canto1.png) 0% 0% no-repeat;
background-color:transparent;
}
div.p_canto2 {
clear:left;
float:left;
width:100%;
height:auto;
background: url(../imagem_arquivos/canto2.png) 100% 0% no-repeat;
background-color:transparent;
}
div.p_canto3 {
clear:left;
float:left;
width:100%;
height:auto;
background: url(../imagem_arquivos/canto3.png) 100% 100% no-repeat;
background-color:transparent;
}
div.p_canto4 {
clear:left;
float:left;
width:100%;
height:auto;
background: url(../imagem_arquivos/canto4.png) 0% 100% no-repeat;
background-color:transparent;
}
div.p_lado1 {
clear:left;
float:left;
width:100%;
height:auto;
background: url(../imagem_arquivos/lado1.png) 0% 0% repeat-x;
background-color:#ffffff;

}
div.p_lado2 {
clear:left;
float:left;
width:100%;
height:auto;
background: url(../imagem_arquivos/lado2.png) 100% 0% repeat-y;
background-color:transparent;
}
div.p_lado3 {
clear:left;
float:left;
width:100%;
height:auto;
background: url(../imagem_arquivos/lado3.png) 0% 100% repeat-x;
background-color:transparent;
}
div.p_lado4 {
clear:left;
float:left;
width:100%;
height:auto;
background: url(../imagem_arquivos/lado4.png) 0% 0% repeat-y;
background-color:transparent;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxx */